<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block 'content' %}



    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-lg 3 col-md-3 col-sm-12 col-xs-12 mt-4 mb-04">
                    <div>
                        <h2 class="title two text-center">Nosotros</h2>
                        <p class="text-center">Nuestra pastelería ha sido un negocio próspero desde el primer día que
                            abrimos y ha sido elogiada
                            por los
                            periodistas
                            locales, los medios y los clientes en varias ocasiones. Estamos orgullosos de llamar a la
                            tienda
                            nuestra
                            base de
                            operaciones, y es nuestro negocio lo que hace que sea una experiencia positiva y
                            gratificante.
                            Queremos
                            continuar
                            construyendo esta relación comercial positiva y gratificante con nuestros clientes y
                            clientes
                            por igual.
                            Nuestro enfoque
                            principal seguirá siendo un negocio local y seguirá creciendo orgánicamente, mientras
                            construimos nuestra
                            reputación de
                            hornear los mejores pasteles en Santiago.</p>
                    </div>

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            
                            
                                <picture>
                                    <source srcset="https://i.pinimg.com/originals/b2/e2/fb/b2e2fb0461ed478f813f5734d2507a3b.jpg"
                                        media="(min-width: 1400px)">
                                    <source srcset="https://i.pinimg.com/originals/b2/e2/fb/b2e2fb0461ed478f813f5734d2507a3b.jpg"
                                        media="(min-width: 769px)">
                                    <source srcset="https://i.pinimg.com/originals/b2/e2/fb/b2e2fb0461ed478f813f5734d2507a3b.jpg"
                                        media="(min-width: 577px)">
                                    <img srcset="https://i.pinimg.com/originals/b2/e2/fb/b2e2fb0461ed478f813f5734d2507a3b.jpg"
                                        alt="responsive image" class="d-block w-100 ">
                                </picture>
                            
                            
                            
                            </div>
                            <!-- /.carousel-item -->
                            <div class="carousel-item">
                            
                                <picture>
                                    <source srcset="https://www.crushpixel.com/big-static10/preview4/fruit-cakes-being-made-two-555601.jpg"
                                        media="(min-width: 1400px)">
                                    <source srcset="https://www.crushpixel.com/big-static10/preview4/fruit-cakes-being-made-two-555601.jpg"
                                        media="(min-width: 769px)">
                                    <source srcset="https://www.crushpixel.com/big-static10/preview4/fruit-cakes-being-made-two-555601.jpg"
                                        media="(min-width: 577px)">
                                    <img srcset="https://www.crushpixel.com/big-static10/preview4/fruit-cakes-being-made-two-555601.jpg" alt="responsive image"
                                        class="d-block w-100 ">
                                </picture>
                            
                            
                            
                            </div>
                            <!-- /.carousel-item -->
                            <div class="carousel-item">
                            
                                <picture>
                                    <source srcset="https://images.vexels.com/media/users/3/179648/raw/7afe427f90fbb44837a378d7349d16bd-conjunto-de-diseno-de-personajes-de-pasteleros.jpg"
                                        media="(min-width: 1400px)">
                                    <source srcset="https://images.vexels.com/media/users/3/179648/raw/7afe427f90fbb44837a378d7349d16bd-conjunto-de-diseno-de-personajes-de-pasteleros.jpg"
                                        media="(min-width: 769px)">
                                    <source srcset="https://images.vexels.com/media/users/3/179648/raw/7afe427f90fbb44837a378d7349d16bd-conjunto-de-diseno-de-personajes-de-pasteleros.jpg"
                                        media="(min-width: 577px)">
                                    <img srcset="https://images.vexels.com/media/users/3/179648/raw/7afe427f90fbb44837a378d7349d16bd-conjunto-de-diseno-de-personajes-de-pasteleros.jpg" alt="responsive image"
                                        class="d-block w-100 ">
                                </picture>
                            
                            
                            
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                   
                       

                </div>
            </div>



        </div>


    </div>






    {% endblock %}
</body>


</html>