<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


        <footer class="text-center text-lg-end auto mt-4 mb-04 " style="background-color: #3C3F6C;">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <!-- Copyright -->
                    <div class="p-3">
            
                        <p class="text-white">© 2022 Copyright: Natalia Silva</p>
                    </div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <!-- Facebook -->
                    <a href="http://www.facebook.com/onlyflans" class="btn btn-outline-light btn-floating m-1" class="text-white"
                        role="button"><i class="fab fa-facebook-f"></i></a>
            
                    <!-- Twitter -->
                    <a href="https://twitter.com/onlyflans" class="btn btn-outline-light btn-floating m-1" class="text-white"
                        role="button"><i class="fab fa-twitter"></i></a>
            
            
                    <!-- Instagram -->
                    <a href="https://www.instagram.com/onlyflans" class="btn btn-outline-light btn-floating m-1" class="text-white"
                        role="button"><i class="fab fa-instagram"></i></a>
                </div>
                <!-- Grid column -->
            </div>
        </footer>
</body>

</html>