<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <footer class="text-center text-lg-start auto " style="background-color: #3C3F6C;">
        <div class="text-center p-3 text-white">
            Horario de Atención 09:00 a 20:00 hrs.
            <p>Pedidos al 2 2282 8710 y en Pedidos Ya!</p>
        </div>
    </footer>
            
        
       

    <header>
        {% load static %}
        
        <div class="text-center">
            <img src="{% static 'img/logo_onlyflans.png' %}" class="img-fluid mt-4 mb-4" alt="logo">
        </div>
    </header>

</body>

</html>